.container {
  height: 50px;
  width: 100%;
  margin-left: 3px;
  margin-top: 3px;
}

#logo {
	margin: auto;
	height: 50px;
	display: block;
}

.homeButton {
  float: left;
}

.backButton {
  float: left;
}


#container button {
  float: left;
  height: 30px;
  display: block;
  border: none;
  text-align: center;
  padding: 5px 6px;
  text-decoration: none;
}
