body {
    text-align: center;
    background-color: #B11111;
}

table {
    margin: auto;
}

.radMedLink {
    color: green;
}

.loginn {
    position: absolute;
    right: 10px;
    top: 15;
    font-size: 7px;
}
#map {
        height: 400px;
        width: 35%;
        margin: auto;
       }