table {
    margin: auto;
}

.loginn {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 10px;
}

#map {
    height: 400px;
    width: 35%;
    margin: auto;
}

main {
    width: 80%;
    background-color: lightgrey;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 40px;
}
#resultatTabell{
    text-align: left;
    border-spacing: 10px;
    border-collapse: separate;
}
