body {
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
    background-color: lightgrey;
}

table {
    margin: auto;
}

.radMedLink {
    color: green;
}

.loginn {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 10px;
}

#map {
    height: 400px;
    width: 35%;
    margin: auto;
}

